<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747085517634-33t8kvvubta054u2j5a5uq1arg4u7c7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747085517634-33t8kvvubta054u2j5a5uq1arg4u7c7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDYMl_-uFRe3sTKWlli1qQbCftEyhJZeWI</string>
	<key>GCM_SENDER_ID</key>
	<string>747085517634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyLawyerNow.My-Lawyer-Now-MLN</string>
	<key>PROJECT_ID</key>
	<string>mylawyernow-990ac</string>
	<key>STORAGE_BUCKET</key>
	<string>mylawyernow-990ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:747085517634:ios:52b8333e210f4bca</string>
	<key>DATABASE_URL</key>
	<string>https://mylawyernow-990ac.firebaseio.com</string>
</dict>
</plist>
